.section1{
    height: 89px;
 } 

.main{ 
    padding: 28px 16px;
}

.section-1__div{
    width: 261px;
    height: 32px;
}

.section-2{
    padding: 14px 16px;
    border: 1.5px solid var(--color-grey-4);
    border-radius: var(--radius-1);
    height: 44px;
}



.section-3__li{
    padding: 8px 16px;
    border: 1.5px solid var(--color-grey-5);
    border-radius: var(--radius-1);
    height: 42px;
}


.section-3__li__div{
    width: 128px;
    height: 26px;
}

.section-3__li__div-span{
    width: 68px;
    height: 26px;
    padding: 7px 14px;
    border-radius: var(--radius-2);
    text-align: center;
}

.empty_list{
    border: 1.5px dashed var(--color-grey-3);
    border-radius: var(--radius-1);
    padding: 16px 0;
}

.trash{
    position: relative;
    right: 2px;
    top: 2px;
}




