.modalWrapper{
    background-color: var(--color-grey-1-opacity-5);
    position: fixed;
    bottom: 0;
}

.modal{
    position: absolute;
    background-color: var(--fixed-white);
    width: 92%;
    max-width: 500px;
    height: 430px;
    margin-top: 50px;
    gap: 25px;
    border-radius: var(--radius-1);
    padding: 24px;
    bottom: 300px;
    animation: animateModal 0.2s ease;
    
}

.div__modal-1-button{
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-grey-2);
    padding: 4px 12px;
    background: var(--color-grey-5);
    border-radius: var(--radius-2);
    border: none;
    cursor: pointer;
}

.div__modal-3{
    gap: 8px;
}

.div__modal-3-input{
    height: 44px;
    padding: 0 16px;
    border: 1.5px solid var(--color-grey-4);
    border-radius: 8px;
    color: var(--color-grey-1);
}


.div__modal-4__span{
    margin-bottom: 16px;
}

.div__modal-4__div-1{
    gap: 12px;
    margin-bottom:28px;
}

.div__modal-4__div-1-button{
    height: 32px;
    padding: 0 16px;
    border: 1.5px solid var(--color-grey-4);
    border-radius: var(--radius-1);
    cursor: pointer;
    background-color: var(--fixed-white);
    color: var(--color-grey-2);
}

.div__modal-4__div-2{
    gap: 16px;
}

.div__modal-4__div-2__btn-1{
    height: 31px;
    width: 50%;
    padding: 7px 14px;
    gap: 10px;
    background: var(--color-grey-4);
    border: none;
    color: var(--color-grey-2);
    border-radius: var(--radius-1);
    cursor: pointer;
}

.div__modal-4__div-2__btn-2{
    background: var(--color-brand-1);
    color: var(--fixed-white);
    height: 31px;
    width: 50%;
    padding: 7px 14px;
    gap: 10px;
    border: none;
    border-radius: var(--radius-1);
    cursor: pointer;
}

@keyframes animateModal {
    0% {
      transform: translateY(-50%);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
