
.modalWrapper{
    background-color: rgba(0, 0, 0,0.44);
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal{
    position: absolute;
    background-color: white;
    width: 92%;
    max-width: 500px;
    height: 430px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 8px;
    padding: 24px;
}

.div__modal-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div__modal-1-span{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #212529;
}

.div__modal-1-button{
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #495057;
    padding: 4px 12px;
    background: #F1F3F5;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.div__modal-2{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #495057;
}

.div__modal-3{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.div__modal-3-span{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #212529;
}

.div__modal-3-input{
    height: 44px;
    width: 100%;
    padding: 0 16px;
    border: 1.5px solid #ADB5BD;
    border-radius: 8px;
    color: #212529;
}


.div__modal-4{
    display: flex;
    flex-direction: column;
}

.div__modal-4__span{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #212529;
    margin-bottom: 16px;
}

.div__modal-4__div-1{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 12px;
    margin-bottom:28px;
}

.div__modal-4__div-1-button{
    height: 32px;
    width: 100%;
    padding: 0 16px;
    border: 1.5px solid #ADB5BD;
    border-radius: 8px;
    color: #212529;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
}

.div__modal-4__div-2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    height: fit-content;
}

.div__modal-4__div-2__btn-1{
    height: 31px;
    width: 50%;
    padding: 7px 14px;
    gap: 10px;
    background: #E9ECEF;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #495057;
    border-radius: 8px;
    cursor: pointer;
}

.div__modal-4__div-2__btn-2{
    background: #6741D9;
    color: #FFFFFF;
    height: 31px;
    width: 50%;
    padding: 7px 14px;
    gap: 10px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    border-radius: 8px;
    cursor: pointer;
}

.hide{
    display: none;
}